/BaseProperties.class
/Encoder.class
/InvocationProperties.class
/MappingProperties.class
/PaddedStringBuffer.class
/StyleClassConstants.class
/UIMMappingProperties.class
/UTF8Properties.class
/Version.class
/VersionTable.class
/WFAppProperties.class
/WebFacingFileFilter.class
/WebfacingConstants.class
