/BaseIndicators.class
/BidiFieldData.class
/BidiOnWSMFieldData.class
/FieldData.class
/IAccessFieldData.class
/IFieldData.class
/IFormattableFieldData.class
/IIndicatorArea.class
/IIndicatorData.class
/IIndicatorEvaluation.class
/IIndicatorRead.class
/IIndicatorUpdate.class
/IIndicatorValue.class
/IInputBufferSaveArea.class
/IQueryFieldData.class
/IRecordData.class
/ISFLCTLInputBufferSaveArea.class
/ISFLCTLRecordData.class
/ISubfileInputBufferSaveArea.class
/IndicatorEvaluation$Indicator.class
/IndicatorEvaluation.class
/OptionIndicators.class
/RecordDataBean.class
/ResponseIndicators.class
/SubfileControlRecordDataBean.class
/SubfileRecordDataBean.class
/SystemRecord.class
/SystemRecords.class
