/ConditionedKeyword.class
/FieldDataDefinition.class
/IRecordDataDefinition.class
/IndicatorDataDefinition.class
/KeywordDefinition.class
/MSGIDDefinition.class
/RecordDataDefinition.class
/SubfileControlRecordDataDefinition.class
